<%= form_with(model: master_role, local: true) do |form| %>
  <% if master_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_role.errors.count, "error") %> prohibited this master_role from being saved:</h2>

      <ul>
      <% master_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :master_role_name %>
  </div>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_field :context, id: :master_role_context %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
