<p id="notice"><%= notice %></p>

<h1>Master Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_roles.each do |master_role| %>
      <tr>
        <td><%= master_role.name %></td>
        <td><%= master_role.context %></td>
        <td><%= link_to 'Show', master_role %></td>
        <td><%= link_to 'Edit', edit_master_role_path(master_role) %></td>
        <td><%= link_to 'Destroy', master_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master Role', new_master_role_path %>
