<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @master_role.name %>
</p>

<p>
  <strong>Context:</strong>
  <%= @master_role.context %>
</p>

<%= link_to 'Edit', edit_master_role_path(@master_role) %> |
<%= link_to 'Back', master_roles_path %>
