<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @policy.subject %>
</p>

<p>
  <strong>Object:</strong>
  <%= @policy.object %>
</p>

<p>
  <strong>Action:</strong>
  <%= @policy.action %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
